<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="./img/cloudy.png">
        <title>{{title}}</title>
    </head>
    <body>
      <div class="main-content">
      {{>header}}
      <h2>who we can help you?</h2>
      </div>
      {{>footer}}
    </body>
</html>